.task-group-table {
  table-layout: fixed;
  min-width: 1000px;
  max-width: 100%;
  margin-bottom: 16px;

  th {
    color: #ccc;
    font-weight: 400;
  }

  th > * {
    display: inherit;
  }

  td {
    padding: 4px 8px;
  }
}