.dayz {
  height: auto;
  margin-bottom: 16px;

  .body .days {
    height: 600px;
  }

  .event {
    cursor: pointer;
    border-color: transparent;
    color: white;
    background-color: #7A7E91;
    &.is-continuation::before {
      border-color: transparent #7A7E91 transparent transparent;
    }

    &.is-continued::after {
      border-color: transparent transparent transparent #7A7E91;
    }

    &.done {
      background-color: rgb(106, 208, 150);
      &:before{
        border-color: transparent rgb(106, 208, 150) transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent rgb(106, 208, 150);
      }
    }

    &.stuck {
      background-color: rgb(216, 112, 127);
      &:before{
        border-color: transparent rgb(216, 112, 127) transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent rgb(216, 112, 127);
      }
    }

    &.in-progress {
      background-color: rgb(243, 191, 114);
      &:before{
        border-color: transparent rgb(243, 191, 114) transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent rgb(243, 191, 114);
      }
    }

    &.wont-be-done {
      background-color: black;
      &:before{
        border-color: transparent black transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent black;
      }
    }
  }

  .day {
    cursor: pointer;

    &.outside {
      color: black;
    }

    &.highlight {
      &:not(.outside) {
        color: white;
      }
      background-color: rgba(255,255,255,0.2);

      .label {
        font-weight: 700;
      }
    }
  }
}