#side-nav {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 32px);
  position: sticky;
  top: 0;
  background-color: #393B51;

  nav {
    a {
      display: block;
      margin-bottom: 8px;
      color: #fff;
    }
  }
}