* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191B32;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 4px;
}

.sneaky-input {
  background-color: inherit;
  border: 1px solid transparent;
  padding: 8px 12px;
  &::placeholder {
    color: #eee;
  }

  &:hover {
    &::placeholder {
      color: #393B51;
    }
    color: #666;
    background-color: #393B51;
  }
}

form > input {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 8px 12px;
  border: none;
  background-color: #393B51;
  color: #fff;

  &::placeholder {
    color: #eee;
  }

  &:hover, &:focus {
    &::placeholder {
      color: #393B51;
    }
    background-color: white;
    color: #666;
  }
}

.custom-select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: #393B51;
  border: none;
  padding: 8px 12px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-align: center;
  color: white;
}

h1, h2 {
  margin: 0;
}